[Unit]
Description=beszel-agent container
After=tailscaled.service
Wants=tailscaled.service
Requires=
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s



[Container]
Image=docker.io/henrygd/beszel-agent:{{.containerTag}}
ContainerName=beszel-agent
Volume=/var/run/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true
Network=host

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
